  <table class="table table-condensed table-hover" id="table-users">
    <% @users.each do |user| %>
    
      <div class="container user-index">
        
        <p><%= user.name %></p>
          <a>
            | <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してもよろしいですか？" },
            class: "btn btn-sm btn-primary" %>       
          </a><br>
          
          <div class="panel-group" id="accordion"><br>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" class="btn btn-primary" data-toggle="collapse" href="#edit-user<%= user.id %>">編集</button>
                  <div id="edit-user<%= user.id %>" class="collapse">
                    <%= form_with(model: user, url: user_index_edit_user_path(user), local: true, method: :patch) do |f| %>
                      <%= render 'form_user_index', user: user, f: f %>
                    <% end %>
                  </div>
                </h4>  
              </div>
            </div>
          </div>
          
        </div>
    <% end %>

 
  </table>
  

