<% provide(:title, 'All Users') %>
<h1>ユーザ一覧</h1>


<%= render 'search' %>


  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "CSVをインポート", class: "btn btn-sm btn-primary" %>
  <% end %>
  
<br>

<div class="col-md-10 col-md-offset-1">
  
  <% @users.each do |user| %> 
    <%= form_with(model: user, url: user_index_edit_user_path(user.id), local: true) do |f| %>
    <ul class="users"> 
      <% if !user.admin? %>
        <li class="user-index">
          <%= user.name %>
    
            <br> | 
            <a><%= link_to "削除", user, method: :delete,
                  data: { confirm: "削除してよろしいですか？" },
                  class: "btn btn-primary" %>
            </a>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#user-index-edit<%= user.id %>" aria-expanded="false" aria-controls="collapseExample">編集</button>
                  <div class="collapse" id="user-index-edit<%= user.id %>">
                    <div class="row">
                      <div class="col-md-6 col-md-offset-3">     　
                        
                          
                          <%= render 'form_user_index', user: user, f: f %>
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </li>
      <% end %>
    </ul>
    <% end %>
  <% end %> 
    
</div>

