<% provide(:title, 'All Users') %>
<h1>ユーザ一覧</h1>

<%= render 'search' %>


  <%= form_tag import_users_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "CSVをインポート", class: "btn btn-sm btn-primary" %>
  <% end %>
  
<br>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <%= render 'index_user', user: @user %>
  <%= will_paginate %>
</div>

