<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div>
    <h1>勤怠編集画面</h1>
    <table class="s-tbl table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>出勤時間</th>
          <th>退勤時間</th>
          <th>翌日</th>
          <th>在社時間</th>
          <th colspan="3">備考</th>
          <th colspan="3">指示者確認㊞</th>
        </tr>
      </thead>
      <tbody>
      <% @attendances.each do |day| %>
        <%= f.fields_for "attendances[]", day do |attendance| %>
          <tr>
            <td><%= l(day.worked_on, format: :short) %></td>
            <td>
              <% if day.worked_on.wday == 6 %>
                <font color="blue">土</font>
              <% elsif day.worked_on.wday == 0 %>
                <font color="red">日</font>
              <% elsif day.worked_on.wday == 1 %>
                <font color="black">月</font>
              <% elsif day.worked_on.wday == 2 %>
                <font color="black">火</font>
              <% elsif day.worked_on.wday == 3 %>
                <font color="black">水</font>
              <% elsif day.worked_on.wday == 4 %>
                <font color="black">木</font>
              <% elsif day.worked_on.wday == 5 %>
                <font color="black">金</font>
              <% end %>
            </td>
            <% if current_user && (Date.current < day.worked_on) %>
              <td><%= attendance.time_field :started_at, readonly: true, class: "form-control" %></td>
              <td><%= attendance.time_field :finished_at, readonly: true, class: "form-control" %></td>
            <% else %>
              <td><%= attendance.time_field :started_at, class: "form-control" %></td>
              <td><%= attendance.time_field :finished_at, class: "form-control" %></td>
            <% end %>
            <td><%= f.check_box :edit_next_d,:as => :boolean, checked: false %></td>
            <td>
              <% if day.started_at.present? && day.finished_at.present? %>
                <%= working_times(day.started_at, day.finished_at) %>
              <% end %>
            </td>
            <td colspan="3"><%= attendance.text_field :note, class: "form-control" %></td>
            <td colspan="3"><%= f.select :edit_app_n, User.where(superior: true).where.not(id: current_user.id).pluck(:name) %></td>
          </tr>
        <% end %>
      <% end %>

      </tbody>
    </table>
  </div>
  
  <div class="center">
    <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
    <%= f.submit "編集を保存する", class: "btn btn-lg btn-default" %>
  </div>
<% end %>



<!--　コントローラー >
  def update_one_month
    raise
    ActiveRecord::Base.transaction do
      if attendances_invalid?
        attendances_params.each do |id, item|
          attendance = Attendance.find(id)
          attendance.update_attributes!(item)
        end
        flash[:success] = "1ヶ月分の勤怠情報を更新しました。"
        redirect_to user_url(date: params[:date])
      else
        flash[:danger] = "無効な入力データがあった為、更新をキャンセルしました。"
        redirect_to attendances_edit_one_month_user_url(date: params[:date])
      end
    end
  rescue ActiveRecord::RecordInvalid
      flash[:danger] = "無効な入力データがあった為、更新をキャンセルしました。"
      redirect_to attendances_edit_one_month_user_url(date: params[:date])
  end
  
        elsif admin_params[:change_button] == "1" && admin_params[:app_number] == "0" || admin_params[:app_number] == "3"
          superior = false
          break
        elsif admin_params[:change_button] == "0"
          superior = false
          break