    <tbody>
      <% @attendances.each do |day| %>
      
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 6 %>
              <font color="blue">土</font>
            <% elsif day.worked_on.wday == 0 %>
              <font color="red">日</font>
            <% elsif day.worked_on.wday == 1 %>
              <font color="black">月</font>
            <% elsif day.worked_on.wday == 2 %>
              <font color="black">火</font>
            <% elsif day.worked_on.wday == 3 %>
              <font color="black">水</font>
            <% elsif day.worked_on.wday == 4 %>
              <font color="black">木</font>
            <% elsif day.worked_on.wday == 5 %>
              <font color="black">金</font>
            <% end %>
          </td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day),  method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>
          <td><%= l(day.started_at, formats: :time) if day.started_at.present? %></td>
          <td><%= l(day.finished_at, formats: :time) if day.finished_at.present? %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>