<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

  <div>
    <table class="table table-bordered table-condensed" id="table-attendances">
      <tr class="user-table">
        <td>
          <% if current_user.id == @user.id %>
            <%= link_to "←️", user_path(date: @first_day.prev_month), class: "table-show btn btn-sm btn-default btn-primary" %> 
          <% end %>
          <%= l(@first_day, format: :middle) %>  勤怠管理表 
          <% if current_user.id == @user.id %>
            <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-sm btn-default  btn-primary" %> 
          <% end %>
        </td>
        <td colspan="2" class="center">
                          指定勤務開始時間 : <%= l(@user.designated_work_start_time, format: :hour) %>:<%= l(@user.designated_work_start_time, format: :minit) %>　<br>
                          指定勤務終了時間 : <%= l(@user.designated_work_end_time, format: :hour) %>:<%= l(@user.designated_work_end_time, format: :minit) %>
        </td>
        <td colspan="2">基本時間　<%= format_basic_info(@user.basic_time) %></td>
        <td>初日　<%= l(@first_day, format: :short) %></td>
      </tr>
  
      <tr class="user-table">
        <td>所属　<%= @user.department.present? ? @user.department : "未所属" %></td>
        <td>氏名　<%= @user.name %></td>
        <td>コード</td>
        <td><%= @user.employee_number %></td>
        <td>出勤日数　<%= @worked_sum %>日</td>
        <td>締め　<%= l(@last_day, format: :short) %></td>
      </tr>
    </table>
  </div>
  
  <div>
    <% if current_user.id == @user.id %>
      <% if @user.admin || @user.superior %>
        <% if @one_month_app > 0 %>
          <div><%= link_to "【所属長承認申請のお知らせ】", modal_one_month_user_path(@user), remote: true, class: 'overtime-application' %>
            <div class="overtime-div"><%= @one_month_app %>件の通知があります。</div>
          </div><br>
        <% else %>
          <div>【所属長承認申請のお知らせ】</div><br>
        <% end %>
        <div>【勤怠変更申請のお知らせ】</div><br>
        <% if @app_sub > 0 %>
          <div><%= link_to "【残業申請のお知らせ】", overtime_admin_user_path(@user), remote: true, class: 'overtime-application' %> 
            <div class="overtime-div"><%= @app_sub %>件の通知があります</div>
          </div>
        <% else %>
          <p>【残業申請のお知らせ】</p>
        <% end %>
      <% end %>
    <% end %>
  </div><br>
  
  <% if current_user.id == @user.id %>
    <div class="btn-users-show btn-attendance-a">
      <%= link_to "勤怠の編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-default  btn-primary" %>
      <%= link_to "CSVの出力", user_path(format: :csv), class: "btn btn-primary" %> 
    </div>
    <div class="btn-users-show">
      <%= link_to "勤怠修正ログ（承認済み）",'#', class: "btn btn-default  btn-primary" %>
    </div>
  <% end %>
  
  <div>
    <table class="table table-bordered table-condensed table-hover" id="table-attendances">
      <thead>
        <tr>
          <th rowspan="3">残業申請</th>
          <th rowspan="3">日付</th>
          <th rowspan="3">曜日</th>
          <th colspan="8">【実績】</th>
          <th colspan="5">【所定外勤務】</th>
        </tr>
        <tr>
          <th colspan="3">出社</th>
          <th colspan="3">退社</th>
          <th rowspan="2">在社時間</th>
          <th rowspan="2">備考</th>
          <th colspan="2">終了予定時間</th>
          <th rowspan="2">時間外時間</th>
          <th rowspan="2">業務処理内容</th>
          <th rowspan="2">指示者確認印</th>
        </tr>
        <tr>
          <th>時</th>
          <th>分</th>
          <th></th>
          <th>時</th>
          <th>分</th>
          <th></th>
          <th>時</th>
          <th>分</th>
        </tr> 
      </thead>
  
      <tbody>
        <% @attendances.each do |day| %>
          <tr>
            <td>
              <% if current_user.id == @user.id %>
                <a><%= link_to "残業申請", user_attendance_overtime_path(@user, day), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#overtime', class: 'btn btn-default  btn-primary'} %></a>
              <% end %>
            </td>
            <td><%= l(day.worked_on, format: :short) %></td>
            <td>
              <% if day.worked_on.wday == 6 %>
                <font color="blue">土</font>
              <% elsif day.worked_on.wday == 0 %>
                <font color="red">日</font>
              <% elsif day.worked_on.wday == 1 %>
                <font color="black">月</font>
              <% elsif day.worked_on.wday == 2 %>
                <font color="black">火</font>
              <% elsif day.worked_on.wday == 3 %>
                <font color="black">水</font>
              <% elsif day.worked_on.wday == 4 %>
                <font color="black">木</font>
              <% elsif day.worked_on.wday == 5 %>
                <font color="black">金</font>
              <% end %> 
            </td>
            <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
            <td><%= l(day.started_at.floor_to(15.minutes), format: :minit) if day.started_at.present? %></td>
            <td>
              <% if day.worked_on == Date.current && day.started_at.blank? %>
                <% if current_user.id == @user.id %>
                  <%= button_to "出社", user_attendance_path(@user, day), method: :patch, class: "btn btn-default btn-block btn-primary btn-attendance" %>
                <% end %>
              <% end %>            
            </td>
            <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
            <td><%= l(day.finished_at.floor_to(15.minutes), format: :minit) if day.finished_at.present? %></td>
            <td>
              <% if day.worked_on == Date.current && day.started_at.present? && day.finished_at.blank? %>
                <% if current_user.id == @user.id %>
                  <%= button_to "退社", user_attendance_path(@user, day), method: :patch, class: "btn btn-default btn-block btn-primary btn-attendance" %>
                <% end %>
              <% end %>             
            </td>
            <td>
             <% if day.started_at.present? && day.finished_at.present? %>
                <%= str_times = working_times(day.started_at, day.finished_at) %>
                <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
              <% end %>            
            </td>
            <td><%= day.note %></td>
            <% if day.change_button == "1" && day.app_number == "1" %>
              <td><%= l(day.overtime, format: :hour) if day.overtime.present? %></td>
              <td><%= l(day.overtime.floor_to(15.minutes), format: :minit) if day.overtime.present? %></td>
              <td>
                <% if day.check_botan == true && day.overtime.present? %>
                  <%= overtimes_true(day.overtime.strftime("%T"), @user.designated_work_end_time.strftime("%T")) %>
                  
                <% elsif day.check_botan == false && day.overtime.present? %>
                  <%= overtimes_false(day.overtime.strftime("%T"), @user.designated_work_end_time.strftime("%T")) %>
                  
                <% end %>
              </td>
              <td><%= day.overtime_note %></td>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
            <td>
              <% if day.change_button == "0" && day.overtime.present? || day.app_number == "3" && day.app_number == "0" %>
                <%= day.overtime_application %>に残業申請中<br>
              <% elsif day.app_number == "1" && day.change_button == "1" %>
                <%= day.overtime_application %>から残業承認済<br>
              <% elsif day.app_number == "2" && day.change_button == "1" %>  
                 <%= day.overtime_application %>から残業否認<br>
              <% end %>
              <% if @user.email.present? %> 
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      
      <tfooter>
        <tr>
          <td></td>
          <td colspan="2"></td>
          <td colspan="6"></td>
          <td><%= format("%.2f", @total_working_times.to_f) %></td>
          <td colspan="5"></td>
          <% if current_user == @user %>
            <td>
              <% @attendances.where(worked_on: @first_day).each do |attendance| %> 
                <%= form_with(model: @user, url: one_month_application_user_path(@user, @attendance), local: true) do |f| %> 
                  <% if attendance.app_name.blank? %>
                    所属長承認　未<br>
                  <% else %>
                    <%= attendance.app_name %>に申請中<br>
                  <% end %>
                  <%= f.fields_for "attendances[]", attendance do |t| %>
                    <%= t.select :app_name, User.where.not(id: current_user.id).where(superior: true).pluck(:name) %><br><br>
                    <% if attendance.app_name.blank? %>
                      <%= t.submit "申請", class: "btn btn-default btn-primary form-control" %>
                    <% else %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      </tfooter>
      
    </table>
  </div>

<div id="overtime" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="overtime_admin" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="modal_one_month" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>